{% extends 'admin/base_admin.html.twig' %}

{% block contenu %}
<div class="form">
    <h1 class="mb-4">{{ app.request.get('_route') == "admin_departement_ajouter" ? 'Ajouter':'Modifier'}} les départements</h1>
    {{ form_start(form) }}
        <div class="col-4">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-4">
            {{ form_row(form.codePostal) }}
        </div>
        <div class="col-4">
            {{ form_row(form.festivals) }}
        </div>
        <div class="col-4">
            {{ form_row(form.valider) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}